<!DOCTYPE html>
<html lang="en" ng-app="ConsulDash" class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>consul-dash</title>

	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-cookies.min.js"></script>
	<script src="assets/ui-bootstrap-custom-0.12.1.min.js"></script>
	<script src="assets/ui-bootstrap-custom-tpls-0.12.1.min.js"></script>
	<script src="assets/app-dash.js"></script>
	<script type="application/javascript">
		angular.module('ConsulDash', ['buildControllers', 'ui.bootstrap', 'ngCookies']);
	</script>

	<link rel="stylesheet" href="assets/bootstrap.min.css">

	<link rel="stylesheet" href="assets/style.css">
</head>
<body ng-controller="ConsulDashCtrl">

<table class="table table-striped table-hover">
	<thead>
	<tr>
		<th class="dc">dc: {{servers[0].Tags.dc | uppercase}}</th>
		<th>count</th>
		<th ng-repeat="node in nodes | orderBy: 'Name'" ng-click="table(node.Name)">{{ node.Name }}</th>
	</tr>
	</thead>
	<tbody>

	<tr ng-repeat="service in services">
		<td class="service-name">{{service}}</td>
		<td>
			<span class="label"
			      ng-class="{
			      'label-danger': healthyPerService[service] == 0 || healthyPerService[service] == undefined,
			      'label-warning': healthyPerService[service] != nodeCount || healthyPerService[service] != instanceCount[service],
			      'label-success': healthyPerService[service] == nodeCount,
			      }">
			{{healthyPerService[service] || 0}} / {{instanceCount[service] || 0}}
			</span>
		</td>
		<td ng-repeat="node in nodes | orderBy: 'Name'">
			<div ng-repeat="nodeService in servicesPerNode[node.Name][service]">
				<span>{{ nodeService.Version }}</span>
				<span tooltip="{{ healthPerNode[node.Name][nodeService.ID].output }}"
				      class="label label-primary"
				      ng-class="{
				      'label-danger': healthPerNode[node.Name][nodeService.ID].status == 'critical',
				      'label-warning': healthPerNode[node.Name][nodeService.ID].status == 'warning',
				      'label-success': healthPerNode[node.Name][nodeService.ID].status == 'passing',
				      }">
					{{ healthPerNode[node.Name][nodeService.ID].status || 'unchecked' }}
				</span>
			</div>
		</td>
	</tr>

	</tbody>
</table>

<div id="servers">
	<div ng-click="showBody = !showBody" class="panel" ng-repeat="server in servers | orderBy: 'Name'" ng-class="{'panel-info': server.Status == 1 && !server.isLeader, 'panel-success': server.isLeader, 'panel-danger': server.Status != 1}">
		<div class="panel-heading">
			<h3 class="panel-title">{{server.Name}}</h3>
		</div>
		<div class="panel-body" ng-show="showBody">
			{{server.Addr}}:{{server.Port}}<br/>
			Status: {{server.Status}}<br/>
			dc: {{server.Tags.dc}}
		</div>
	</div>
</div>

</body>
</html>
