body {
  overflow: hidden;
}

.panel {
	width: 200px;
	float: left;
	margin-right: 10px;
}

.service-name {
	width: 200px;
}

.darker {
	opacity: 0.75 !important;
	height: 100%;
}

.label-primary {
    background-color: #5c89b9;
}

.label-success {
    background-color: #00bc8c;
}

.label-warning {
    background-color: #f39c12;
}

.label-danger {
    background-color: #e74c3c;
}

.version-label {
    font-size: 17px;
    color: #0f0f0f;
}

